<%-include('../layouts/admin-header.ejs')-%>
<style>
  .img-wrap {
    position: relative;
    
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
   
}
</style>
  <div class="container">
    <% if(locals.message) { %>
    <p><%= message%></p>
    <%}%>
    <div class="row d-flex justify-content-center align-items-center mt-5">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body">
          <h5 class="card-title">Edit Item</h5>
          <form method="post" action="/admin/updateitem/<%= item._id %>" id="form" enctype="multipart/form-data">
            <div class="form-group row">
                <input type="hidden" id="itemId" name="id" value="<%= item._id %>">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="name"  placeholder="Name" value="<%= item.name%>" >
                </div>
              </div>
              <div class="form-group row">
                
                <label for="inputEmail3" class="col-sm-2 col-form-label">Model Number</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="model_number"  placeholder="Model Number" value="<%= item.model_number%>" >
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-10">
                  <select class="form-control" id="category" name="category" aria-label="Default select example">
                    
                    <% category.forEach(cate=>{ %>
                        <option <% if(cate._id ==  item.category_id ) selected %> value="<%= cate._id%>"><%= cate.name %></option>
                     <% }) %>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Stock</label>
                <div class="col-sm-10">
                  <input type="number" name="stock" class="form-control" placeholder="Stock" value="<%= item.stock%>" >
                </div>
              </div>
              <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Price</label>
                  <div class="col-sm-10">
                    <input type="number" name="price" class="form-control" placeholder="Price" value="<%= item.price%>" >
                  </div>
                </div>
                              
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Brand Name</label>
                  <div class="col-sm-10">
                    <select class="form-control" id="brand" name="brand_id" aria-label="Default select example">
                    
                        <% filter.forEach(filterOne=>{ %>
                          <option <% if(filterOne._id ==  item.brand_id ) selected %> value="<%= filterOne._id%>"><%= filterOne.brand %></option>
                       <% }) %>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Color</label>
                  <div class="col-sm-10">
                    <select class="form-control" id="color" name="color" aria-label="Default select example">
                      <% filter.forEach(filterOne => {
                        for (let i = 0; i < filterOne.color.length; i++) {
                          const selected = (filterOne.color[i] == item.color) ? 'selected' : '';
                          %>
                          <option value="<%= filterOne.color[i] %>" <%= selected %>><%= filterOne.color[i] %></option>
                        <% }
                      }) %>
                    </select>
                  </div>
                </div>
                
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Material</label>
                  <div class="col-sm-10">
                    <select class="form-control" id="material" name="material" aria-label="Default select example">
                      <% filter.forEach(filterOne => {
                        for (let i = 0; i < filterOne.material.length; i++) {
                          const selected = (filterOne.material[i] == item.material) ? 'selected' : '';
                          %>
                          <option value="<%= filterOne.material[i] %>" <%= selected %>><%= filterOne.material[i] %></option>
                        <% }
                      }) %>
                    </select>
                  </div>
                </div>
                
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Material Type</label>
                  <div class="col-sm-10">
                    <select class="form-control" id="materialType" name="material_type" aria-label="Default select example">
                    
                      <% filter.forEach(filterOne => {
                        for (let i = 0; i < filterOne.material_type.length; i++) {
                          const selected = (filterOne.material_type[i] == item.material_type) ? 'selected' : '';
                          %>
                          <option value="<%= filterOne.material_type[i] %>" <%= selected %>><%= filterOne.material_type[i] %></option>
                          <% }
                        }) %>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Description</label>
                  <div class="col-sm-10">
                    <textarea name="description" class="form-control" id="" cols="30" rows="5" style="white-space: pre-wrap; ">
                    <%= item.description%>
                    </textarea>
                  </div>
                </div>
                <div class="mb-3 row">
                    <label for="Brand" class="col-sm-2 col-form-label">Image</label>
                    <div class="row g-0">
                     
                      <% item.images.forEach((image, index) => { %>
                        <div class="card-image-col col-3 p-1">
                          <div class="img-wrap">
                            <button class="close delete-btn" data-img="<%=image %>" data-id="<%=item._id%>">
                              &times;
                            </button> 
                            <img class="card-image" src="/products/<%=image %>" alt="">
                          </div>
                        </div>
                      <% }) %>
                        
                       
                        <input type="file" class="form-control-file" name="images" multiple>
                        <input type="hidden" name="old_images" value="<%= item.images.join(',') %>">
                    </div>
                  </div>
          
            <button class="btn btn-primary" type="submit">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <script>
    function checker() {
      if (window.alert("Category Updated !!")) {
        document.getElementById("form").submit();
        return
      }
    }
  </script> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $(function () {
        $('.close').click(function(event) {
         let id = $('#itemId').val()
         console.log(id);
         let image = $(this).data(img)
         console.log(image);
         let url = "/admin/delete-image/?id="+id+"&image="+image;
         window.location.href = url;
      });
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
 $(document).ready(function() {
  // Listen for changes to the category dropdown
 
  $('#category').on('change', function() {
    var categoryId = $(this).val();
    // Make an AJAX request to retrieve the filters for the selected category
    $.ajax({
      url: '/admin/getFilters',
      type: 'GET',
      data: { categoryId: categoryId },
      success: function(response) {
        // Clear the brand dropdown and add options for each filter
        $('#brand').empty();
        response.filters.forEach(function(filter) {
          $('#brand').append('<option value="' + filter._id + '">' + filter.brand + '</option>');
        });
        $('#brand').trigger('change');
      },
      error: function(xhr, status, error) {
        console.log('Error retrieving filters: ' + error);
      }
    });
  });


  
  $('#brand').on('change', function() {
  var brandId = $(this).val();

  // Get the materials and material types for the selected brand
  $.ajax({
  url: '/admin/brandsDetails',
  data: { brandId: brandId },
  success: function(data) {
    $('#material').empty();
  $('#materialType').empty();
  var materials = data.materials;
  var materialTypes = data.materialTypes;

  // Add each material to the materials dropdown
  materials.forEach(function(material) {
    for(let i=0;i<material.length;i++)
    $('#material').append('<option value="' + material[i] + '">' + material[i] + '</option>');
  });

  // Add each material type to the material types dropdown
  materialTypes.forEach(function(materialType) {
    for(let i=0;i<materialType.length;i++)
    $('#materialType').append('<option value="' + materialType[i] + '">' + materialType[i] + '</option>');
  });
},
  error: function() {
    alert('Error retrieving materials and material types');
  }
});
});


$(document).on('click', '.delete-btn', function() {
  const itemId = $(this).data('id');
  const imageName = $(this).data('img');

  $.ajax({
    url: `/admin/delete-image/${itemId}/${imageName}`,
    type: 'DELETE',
    success: function(response) {
      if (response.success) {
        location.reload();
      }
    }
  });
});

});
</script>
  <%-include("../layouts/admin-footer.ejs")-%>