<%-include('../layouts/admin-header.ejs')-%>
 
   
    <!-- breadcrumb -->
    <div class="container">
      <% if(locals.message) { %>
        <p><%= message%></p>
        <%}%>
  <div class="breadcrumb-header justify-content-between">
    <div class="my-auto">
      <div class="d-flex">
        <h4 class="content-title mb-0 my-auto">Pages</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Edit-Profile</span>
      </div>
    </div>
   
  </div>
  <!-- breadcrumb -->
    <!-- row -->
  <div class="row row-sm">
 
    <!-- Col -->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
         
          <form class="form-horizontal" action="/admin/updateCategory" method="post" id="form" enctype="multipart/form-data">
            <input type="hidden" value="<%= category._id %>" name="catid">
            <div class="form-group ">
             
            </div>
            
            <div class="form-group ">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-label"> Name</label>
                </div>
                <div class="col-md-9">
                  <input type="text" class="form-control"  placeholder="User Name" value="<%= category.name%>" name="name">
                </div>
              </div>
            </div>
            <div class="form-group ">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-label"> Image</label>
                </div>
                <div class="col-md-9">
                  <% if(category.images){%>
                    <img src="/uploads/<%= category.images%>" width="100" class="img-thumbnail">
                    <%}%>
                    <input type="hidden" name="old_image" value="<%= category.images%>">
                    <input type="file" name="image" class="form-control" id="formFile" accept="image/*" >
                </div>
              </div>
            </div>

          
            <div class="card-footer">
              <button type="submit" class="btn btn-primary waves-effect waves-light"> Update </button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
    <!-- /Col -->
  </div>
  <!-- row closed -->
  </div>
  
  <script>
    function checker() {
      if (window.alert("Category Updated !!")) {
        document.getElementById("form").submit();
        return
      }
    }
  </script>
  <%-include("../layouts/admin-footer.ejs")-%>