<%-include('../layouts/user-header.ejs')-%>
<style>
  .active {
  
  color: #000; /* Set text color to white */
  font-weight: bold; /* Set font weight to bold */
}
.selected {
    background-color: yellow;
    font-weight: bold;
  }

</style>
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="bread"><span><a href="index.html">Home</a></span> / <span>Items</span></p>
      </div>
    </div>
  </div>
</div>
<div class="colorlib-product">
  <div class="container">
   
    <div class="row">
      <div class="col-lg-3 col-xl-3">
        <div class="row">
          
          <div class="col-sm-12">
            <div class="side border mb-1">
              <h3>Categories</h3>
              <ul>
                <li><a href="#" class="category-link">All</a></li>
                <% categories.forEach((row)=>{%>
                  <li><a href="#" class="category-link" data-category-id="<%= row._id %>"><%= row.name %></a></li>

                <%})%>
              </ul>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="side border mb-1" >
              <h3>Brands</h3>
              <ul id="brand-name">
                <% uniqueBrands.forEach((brand) => { %>             
                <li>
                <label>
                <input type="checkbox" class="brand-checkbox" data-brand-name="<%= brand %>">
                  <%= brand %>
                  </label>
                </li>
                <% }); %>
              </ul>

            </div>
          </div>
          
          <div class="col-sm-12">
            <div class="side border mb-1">
              <h3>Price</h3>
              <form id="price-filter-form" action="" method="post">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="min" placeholder="min" class="mx-2 form-control" >
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="max" placeholder="max" class="form-control border border-secondary">
                  </div>
                </div>
                <div>
                  <input type="button" value="Check" class="btn btn-primary mt-2">
                </div>
              </form>
              
            </div>
          </div>
          <div class="col-sm-12">
            <div class="side border mb-1">
              <h3>Colors</h3>
              <ul id="color-name">
                <% uniqueColors.forEach((color,index) => { %>
                  <li>
                  
                    <label>
                      <input type="checkbox" class="color-checkbox" data-color="<%= color %>">
                      <%= color %>
                        </label>
                  </li>
                  
                <% }); %>
              </ul>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="side border mb-1">
              <h3>Material</h3>
              <ul>
                <% uniqueMaterials.forEach((material,index) => { %>                
                  <li><a href="#" class="material-link filter-type" data-filter-type="material" data-material="<%= material %>"><%= material %></a></li>
                <% }); %>
              </ul>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-lg-9 col-xl-9">
        <div class="d-flex">
          <div class="mb-2 p-2"><span>Sort By </span></div>
          <div class="mb-2 p-2 high-low  filter-type" data-filter-type="high"><a href="#">Price--High to Low</a></div>
          <div class="mb-2 p-2 low-high  filter-type" data-filter-type="low"><a href="#">Price--Low to High</a></div>
          
        
          <div class="mb-2">
            <form id="search-form" action="" method="post">
            <input type="text" id="search-input" name="search"  placeholder="Search for products">
            <input type="button" value="Search" class="btn btn-primary mt-2">
          </form>
          </div>
            
          
          
        </div>
        
          <div id="products-container" class="row row-pb-md">
            <% products.forEach(product => { %>
              <div class="col-lg-4 mb-4 text-center">
                <div class="product-entry border">
                  <a href="/productdetails/<%= product._id %>" class="prod-img">
                    <img src="/products/<%= product.images[0] %>" class="img-fluid" alt="<%= product.name %>" style="height: 300px; width: 100%; object-fit: fill;" >
                  </a>
                  <div class="desc">
                    <h2><a href="#"><%= product.name %></a></h2>
                    <span class="price"><%= product.price %></span>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
          <div class="pagination" id="pagination-container">
            <% if (pagination.currentPage > 1) { %>
              <a class="page-link" href="?page=<%= pagination.currentPage - 1 %>">&laquo; Previous</a>
            <% } %>
            <% for (let i = 1; i <= pagination.totalPages; i++) { %>
              <% if (i === pagination.currentPage) { %>
                <a class="active page-link" href="?page=<%= i %>"><%= i %></a>
              <% } else { %>
                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
              <% } %>
            <% } %>
            <% if (pagination.currentPage < pagination.totalPages) { %>
              <a class="page-link" href="?page=<%= pagination.currentPage + 1 %>">Next &raquo;</a>
            <% } %>
          </div>
          
       
          
        </div>
       
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- filter checkbox -->

<script>
  
  // filter category wise
  $('.category-link').click(function(e) {
  e.preventDefault();
  $('.category-link').removeClass('active');
  $(this).addClass('active');
  
  const categoryId = $(this).data('category-id');
  let checkedBrands = $('.brand-checkbox:checked').map(function() {
    return $(this).data('brand-name');
  }).get();
  console.log(checkedBrands);
  $.ajax({
    url: `/category/products`,
    method: 'POST',
    data: { categoryId: categoryId, brands: checkedBrands },
    success: function(data) {
      console.log('Response data:', data);
      const products = data.products;
      const filters = data.filters;
      const currentPage = data.pagination.currentPage;
      const totalPages = data.pagination.totalPages;
      const filterHtml =filters.map((filter)=>`
                  <ul>
                    <li>
                      <label>
                        <input type="checkbox" class="brand-checkbox" data-brand-name="${filter.brand}" data-category-id="${categoryId}">
                        ${filter.brand}
                      </label>
                    </li>
                  </ul>
               `).join('')
      const productsHtml = products.map(product => `
        <div class="col-lg-4 mb-4 text-center">
          <div class="product-entry border">
            <a href="/productdetails/${product._id}" class="prod-img">
              <img src="/products/${product.images[0]}" class="img-fluid" alt="Free html5 bootstrap 4 template">
            </a>
            <div class="desc">
              <h2><a href="#">${product.name}</a></h2>
              <span class="price">${product.price}</span>
            </div>
          </div>
        </div>
      `).join('');
      const paginationHtml = `
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item ${currentPage === 1 ? 'disabled' : ''}">
        <a class="page-link" href="#" aria-label="Previous" data-page="${currentPage - 1}">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      ${Array.from({ length: totalPages }, (_, i) => `
        <li class="page-item ${currentPage === i + 1 ? 'active' : ''}">
          <a class="page-link" href="#" data-page="${i + 1}">${i + 1}</a>
        </li>
      `).join('')}
      <li class="page-item ${currentPage === totalPages ? 'disabled' : ''}">
        <a class="page-link" href="#" aria-label="Next" data-page="${currentPage + 1}">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
`;
      $('#products-container').html(productsHtml);
      $('#brand-name').html(filterHtml);
      $('#pagination-container').html(paginationHtml);
    },
    error: function(xhr, status, error) {
      console.error('Error fetching products:', error);
    }
  });
});


//filter brand wise
$('#brand-name').on('change', '.brand-checkbox', function(e) {
  const checkedBrands = $('.brand-checkbox:checked').map(function() {
    return $(this).data('brand-name');
  }).get();
  const categoryIds = $('.brand-checkbox').data('category-id')
  console.log('categoryIds: '+categoryIds);
  console.log(checkedBrands);
  $.ajax({
    url: `/brands/products`,
    method: 'POST',
    data: { brands: checkedBrands, categoryId:categoryIds },
    success: function(data) {
      console.log('Response data:', data);
      const products = data;
      
      const productsHtml = products.map(product => `
        <div class="col-lg-4 mb-4 text-center">
          <div class="product-entry border">
            <a href="/productdetails/${product._id}" class="prod-img">
              <img src="/products/${product.images[0]}" class="img-fluid" alt="Free html5 bootstrap 4 template">
            </a>
            <div class="desc">
              <h2><a href="#">${product.name}</a></h2>
              <span class="price">${product.price}</span>
            </div>
          </div>
        </div>
      `).join('');
  
      $('#products-container').html(productsHtml);
    },
    error: function(xhr, status, error) {
      console.error('Error fetching products:', error);
    }
  });
});


//clr
$('#color-name').on('change', '.color-checkbox', function(e) {
  const checkedColors = $('.color-checkbox:checked').map(function() {
    return $(this).data('color');
  }).get();
 
  console.log(checkedColors);
  $.ajax({
    url: `/color/products`,
    method: 'POST',
    data: { color: checkedColors},
    success: function(data) {
      console.log('Response data:', data);
      const products = data;
      const productsHtml = products.map(product => `
        <div class="col-lg-4 mb-4 text-center">
          <div class="product-entry border">
            <a href="/productdetails/${product._id}" class="prod-img">
              <img src="/products/${product.images[0]}" class="img-fluid" alt="Free html5 bootstrap 4 template">
            </a>
            <div class="desc">
              <h2><a href="#">${product.name}</a></h2>
              <span class="price">${product.price}</span>
            </div>
          </div>
        </div>
      `).join('');
  
      $('#products-container').html(productsHtml);
    },
    error: function(xhr, status, error) {
      console.error('Error fetching products:', error);
    }
  });
});




$('.filter-type').click(function(e) {
  e.preventDefault();
  
  const filterType = $(this).data('filter-type')
  if(filterType == 'high'){
    $('.high-low').removeClass('active');
  $(this).addClass('active');
  $('.low-high').removeClass('active');
  }
  else if(filterType == 'low'){
    $('.low-high').removeClass('active');
  $(this).addClass('active');
  $('.high-low').removeClass('active');
  }
  else{
    $('.material-link').removeClass('active');
  $(this).addClass('active');
  
  }
  const material = $(this).data('material');
  console.log(filterType);
  
  $.ajax({
  url: `/getfilters?filterType=${filterType}&material=${material}`,
  method: 'GET',
  success: function(data) {
  console.log('Response data:', data); // Add this line to log the data variable
  const products = data.products;
  const currentPage = data.pagination.currentPage;
  const totalPages = data.pagination.totalPages;
  const productsHtml = products.map(product => `
    <div class="col-lg-4 mb-4 text-center">
      <div class="product-entry border">
        <a href="/productdetails/${product._id}" class="prod-img">
          <img src="/products/${product.images[0]}" class="img-fluid" alt="Free html5 bootstrap 4 template">
        </a>
        <div class="desc">
          <h2><a href="#">${product.name}</a></h2>
          <span class="price">${product.price}</span>
        </div>
      </div>
    </div>
  `).join('');

  const paginationHtml = `
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item ${currentPage === 1 ? 'disabled' : ''}">
        <a class="page-link" href="#" aria-label="Previous" data-page="${currentPage - 1}">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      ${Array.from({ length: totalPages }, (_, i) => `
        <li class="page-item ${currentPage === i + 1 ? 'active' : ''}">
          <a class="page-link" href="#" data-page="${i + 1}">${i + 1}</a>
        </li>
      `).join('')}
      <li class="page-item ${currentPage === totalPages ? 'disabled' : ''}">
        <a class="page-link" href="#" aria-label="Next" data-page="${currentPage + 1}">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
`;
  
  $('#products-container').html(productsHtml);
  $('#pagination-container').html(paginationHtml);
  },


  error: function(xhr, status, error) {
    console.error('Error fetching products:', error);
  }
  });

});





$('#price-filter-form input[type="button"]').click(function() {
    var min = $('#price-filter-form input[name="min"]').val();
    var max = $('#price-filter-form input[name="max"]').val();

    $.post('/products/filter/price', { min: min, max: max }, function(data) {
      // Update the products container with the filtered results
      
      var productsHtml = '';
      if (data.length > 0) {
        productsHtml = data.map(product => `
          <div class="col-lg-4 mb-4 text-center">
            <div class="product-entry border">
              <a href="/productdetails/${product._id}" class="prod-img">
                <img src="/products/${product.images[0]}" class="img-fluid" alt="Free html5 bootstrap 4 template">
              </a>
              <div class="desc">
                <h2><a href="#">${product.name}</a></h2>
                <span class="price">${product.price}</span>
              </div>
            </div>
          </div>
        `).join('');
      } else {
        productsHtml = '<p>No items found with the selected price range</p>';
      }
      $('#products-container').html(productsHtml);
    });
  });
 
$('#search-form input[type="button"]').click(function() {
    var search = $('#search-form input[name="search"]').val();
    

    $.post('/products/search', { search: search}, function(data) {
      // Update the products container with the filtered results
      var productsHtml = '';
      const products = data.products;
      const currentPage = data.pagination.currentPage;
      const totalPages = data.pagination.totalPages;
      if (products.length > 0) {
        productsHtml = products.map(product => `
          <div class="col-lg-4 mb-4 text-center">
            <div class="product-entry border">
              <a href="/productdetails/${product._id}" class="prod-img">
                <img src="/products/${product.images[0]}" class="img-fluid" alt="Free html5 bootstrap 4 template">
              </a>
              <div class="desc">
                <h2><a href="#">${product.name}</a></h2>
                <span class="price">${product.price}</span>
              </div>
            </div>
          </div>
        `).join('');
        const paginationHtml = `
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item ${currentPage === 1 ? 'disabled' : ''}">
        <a class="page-link" href="#" aria-label="Previous" data-page="${currentPage - 1}">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      ${Array.from({ length: totalPages }, (_, i) => `
        <li class="page-item ${currentPage === i + 1 ? 'active' : ''}">
          <a class="page-link" href="#" data-page="${i + 1}">${i + 1}</a>
        </li>
      `).join('')}
      <li class="page-item ${currentPage === totalPages ? 'disabled' : ''}">
        <a class="page-link" href="#" aria-label="Next" data-page="${currentPage + 1}">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
`;
      } else {
        productsHtml = '<p>No items found </p>';
      }
      
      $('#products-container').html(productsHtml);
      $('#pagination-container').html(paginationHtml);
    });
  });
 
</script>

<%-include("../layouts/user-footer.ejs")-%>