<%-include('../layouts/header')-%>
<div class="container">
    <%
    if(typeof message !== 'undefined'){
      %> 
      <p style="color: red;"> <%= message %></p>
      <%
    }
    %>
    <div class="vh-100 d-flex justify-content-center align-items-center ">
      <div class="col-md-5 p-5 shadow-sm border rounded-5 border-primary bg-white">
          <h2 class="text-center mb-4 text-primary">Login Form</h2>
          <form class="OTP" id="OTP" action="/otp" method="POST">
              <div class="mb-3">
                  <label for="Otp" class="form-label">Enter OTP</label>
                  <input type="text" id="otp" name="otp" class="form-control border border-primary" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <span id="timer">1:00</span>
              <a href="/otp" id="resend-link" class="d-none">Resend OTP</a>
              <div class="d-grid">
                  <button class="btn btn-primary" type="submit">Login</button>
              </div>
                                  <input type="hidden" name="newotp" value="<%=newOtp%>">
                                  <input type="hidden" name="name" value="<%=userData.name%>">
                                  <input type="hidden" name="email" value="<%=userData.email%>">
                                  <input type="hidden" name="phone" value="<%=userData.phone%>">
                                  <input type="hidden" name="password" value="<%=userData.password%>">
                                  <input type="hidden" name="gender" value="<%=userData.gender%>">

          </form>
          
      </div>
  </div>
</div>
<script>
    // Set the countdown duration in seconds
    const countdownDuration = 60;
    
    // Get the timer element
    const timerElement = document.getElementById('timer');
    
    // Start the countdown timer
    let countdown = countdownDuration;
    const intervalId = setInterval(() => {
      countdown--;
      const minutes = Math.floor(countdown / 60);
      const seconds = countdown % 60;
      timerElement.textContent = `${minutes}:${seconds.toString().padStart(2, '0')}`;
      if (countdown === 0) {
        // Stop the countdown timer
        clearInterval(intervalId);
    
        // Hide the timer element
        timerElement.style.display = 'none';
    
        // Show the "Resend OTP" link
        const resendLinkElement = document.getElementById('resend-link');
        resendLinkElement.classList.remove('d-none');
      }
    }, 1000);
    </script>
<%-include("../layouts/footer.ejs")-%>