<%-include('../layouts/header')-%>
<div class="container">
    <%
    if(typeof message !== 'undefined'){
      %> 
      <p style="color: red;"> <%= message %></p>
      <%
    }
    %>
    <div class="vh-100 d-flex justify-content-center align-items-center ">
      <div class="col-md-5 p-5 shadow-sm border rounded-5 border-primary bg-white">
          <h2 class="text-center mb-4 text-primary">Login Form</h2>
          <form class="OTP" id="OTP" action="/otp" method="POST">
              <div class="mb-3">
                  <label for="Otp" class="form-label">Enter OTP</label>
                  <input type="text" id="otp" name="otp" class="form-control border border-primary" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <h6 class="m-0 text-dark mt-3">Time Left: <span id="timer"></span></h6>
             
              <div class="d-grid">
                  <button class="btn btn-primary" type="submit">Login</button>
              </div>
                                  <input type="hidden" name="newotp" value="<%=newOtp%>">
                                  <input type="hidden" name="name" value="<%=userData.name%>">
                                  <input type="hidden" name="email" value="<%=userData.email%>">
                                  <input type="hidden" name="phone" value="<%=userData.phone%>">
                                  <input type="hidden" name="password" value="<%=userData.password%>">
                                  <input type="hidden" name="gender" value="<%=userData.gender%>">

          </form>
          
      </div>
  </div>
</div>
<script>
     document.getElementById('timer').innerHTML = '2:00';

     startTimer();
        function startTimer() {
            var presentTime = document.getElementById('timer').innerHTML;
            var timeArray = presentTime.split(/[:]+/);
            var m = timeArray[0];
            var s = checkSecond((timeArray[1] - 1));
            if (s == 59) { m = m - 1 };
            if (m < 0) {
                window.location.reload()
                return;
            }

            if (s < 10 && m == "00") {
                document.getElementById("clicable1").disabled = true;
                document.getElementById("clicable2").disabled = true;
                document.getElementById("insert").disabled = true;
            }

            document.getElementById('timer').innerHTML = m + ":" + s;
            setTimeout(startTimer, 1000);
        }

        function checkSecond(sec) {
            if (sec < 10 && sec >= 0) { sec = "0" + sec };
            if (sec < 0) { sec = "59" };
            return sec;
        }
</script>

<%-include("../layouts/footer.ejs")-%>