<%-include('../layouts/user-header.ejs')-%>
<style>
    .star-widget input{
     display: none; 
    }
    .star-widget label{
      font-size: 20px;
      color: #444;
      padding-right: 10px;
    float: right;
     
    }
  
    input:checked ~ label{
      color: #fd4;
    }
  </style>
<link rel="stylesheet" href="/css/zoom.css">
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="index.html">Home</a></span> / <span>Product Details</span></p>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg product-detail-wrap" >
            <div class="col-sm-8">
                <div class="owl-carousel">
                    <% product.images.forEach((row,element)=>{%>
                    <div class="item">
                        <figure class="image-holder">
                        <div class="product-entry border" id="img-container" style="height: fit-content;" >
                            <a href="#" class="prod-img">
                                <!-- <img src="/products/<%=row%>" class="img-fluid img-center" alt="Free html5 bootstrap 4 template" style="height: 450px; object-fit: cover;"> -->
                                <a href="/products/<%=row%>" class="img-fluid MagicZoom">
                                    <img src="/products/<%=row%>" alt="">
                                </a>
                            </a>
                        </div>
                    </figure>
                    
                    </div>
                    <%})%>
                  
                </div>
            </div>
            <div class="col-sm-4">
                
                <div class="product-desc">
                    <h3><%=product.name%></h3>
                    <p class="price">
                        <span>Rs <%=product.price%></span> 
                        
                    </p>
                
                    <div class="size-wrap">
                        <div class="block-26 mb-2">
                            <h4>Size</h4>
                       <ul>
                      <% filter.size.forEach((row)=>{%>
                            <li><a href="#"><%=row%></a></li>
                            
                            <%})%>
                       </ul>
                    </div>
                    
                    </div>
             <div class="input-group mb-4">
                 <span class="input-group-btn">
                    <button type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
                   <i class="icon-minus2"></i>
                    </button>
                    </span>
                 <input type="number" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                 <span class="input-group-btn ml-1">
                    <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                     <i class="icon-plus2"></i>
                 </button>
                 </span>
              </div>
              <div class="row">
                  <div class="col-sm-12 text-center d-flex">
                            <p class="addtocart"><a href="#" id="addtocart" class="btn btn-primary btn-addtocart" data-id="<%=product._id %>"><i class="icon-shopping-cart"></i> Add to Cart</a></p>
                        
                       
                            <p class="addtocart"><a href="#" id="addtowishlist" class="btn btn-primary btn-addtocart" data-wid="<%=product._id %>"><i class="icon-heart"></i> Add to Wishlist</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-12 pills">
                        <div class="bd-example bd-example-tabs">
                          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                            <li class="nav-item">
                              <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Description</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Manufacturer</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Review</a>
                            </li>
                          </ul>

                          <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane border fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                            
                               <p><%=product.description%></p>
                            </div>

                            <div class="tab-pane border fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
                             <table class="table table-bordered">
                                <tr>
                                    <td>Model Number</td>
                                    <td><%=product.model_number %></td>
                                </tr>
                                <tr>
                                    <td>Material</td>
                                    <td><%=product.material %></td>
                                </tr>
                                <tr>
                                    <td>Material Type</td>
                                    <td><%=product.material_type %></td>
                                </tr>
                                <tr>
                                    <td>Brand</td>
                                    <td> 
                                        <%= filter.brand %>
                                   </td>
                                </tr>
                                
                             </table>
                            </div>

                            <div class="tab-pane border fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h3 class="head"><%=count%> Reviews</h3>
                                        <div class="review">
                                            <% if(review.length>0){
                                            review.forEach((row)=>{%>
                                            <div class="desc">
                                                <h4>
                                                    <span class="text-left"><%= row.userId.name %></span>
                                                
                                                </h4>
                                                
                                                    <input type="hidden" name="rate" value="<%=row.rating%>">
                                                    
                                                    <p class="star">
                                                        <span>
                                                           
                                                            <% for(let i= 1; i<=5; i++){%>
                                                                <% if(row.rating >= i){%>
                                                            <i class="icon-star-full"></i>
                                                            <%}else{%>
                                                            <i class="icon-star-empty"></i>
                                                            <%}}%>
                                                            
                                                          
                                                        </span>
                                                    
                                                    </p>
                                                 
                                    <p><%=row.description%></p>
                                            </div>
                                            <%})}%>
                                        </div>
                                       
                                    </div>
                                   
                                </div>
                            </div>
                          </div>
                        </div>
                 </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $('#addtocart').click(function(event) {
  event.preventDefault(); // Prevents the default form submission
  let id = $(this).attr("data-id");
  let quantity = $('#quantity').val();
  $.ajax({
    type: 'GET',
    url: '/add-to-cart?id=' + id + '&qty=' + quantity,
    success: function(response) {
      console.log(response);
      alert(response.message)
    },
    error: function(error) {
      console.log(error.responseText);
      // If you want to show an error message, you can add it here
    }
  });
});


</script>
<script>
 $(function () {
  

   $('#addtowishlist').click(function(event) {
      let wid = $(this).attr("data-wid")
      console.log(wid);
      let url = "/addtowishlist/"+wid;
      window.location.href = url;
   });
 });

 
</script>
<script>
    $(document).ready(function(){

    var quantitiy=0;
       $('.quantity-right-plus').click(function(e){
            
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());
            
            // If is not undefined
                
                $('#quantity').val(quantity + 1);

              
                // Increment
            
        });

         $('.quantity-left-minus').click(function(e){
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());
            
            // If is not undefined
          
                // Increment
                if(quantity>0){
                $('#quantity').val(quantity - 1);
                }
        });
     
        let review = $('[name="rate"]').val();
        console.log(review);
        $('.star-widget input[value="'+review+'"]').prop('checked', true);
    });
</script>
<script src="/js/magic-zoomCodepen.js"></script>

<%-include("../layouts/user-footer.ejs")-%>